* {
  margin: 0;
  padding: 0;
  border: 0;
}

<<<<<<< HEAD
/* nav,
footer,
header,
aside {
  display: block;
} */

=======
>>>>>>> 9b41b01a529555767f5a749b596aee15e50adbbf
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex; /*for footer*/
  flex-direction: column; /*for footer*/
}

.container {
  max-width: 1255.66px;
  margin: 0px auto;
}

.content {
  flex: 1 1 auto;
}

<<<<<<< HEAD
.header {
  background: linear-gradient(#0047ff -13.37%, #00bcd4 109.53%);
}

.header_row {
  display: flex;
  height: 37px;
  justify-content: flex-start;
  align-items: center;
}

.header_content {
=======
/* .header {
    background: linear-gradient(#0047ff -13.37%, #00bcd4 109.53%);
  } */

.header_row {
  height: 37px;
}

.header_content {
  display: flex;
>>>>>>> 9b41b01a529555767f5a749b596aee15e50adbbf
  font-family: Roboto;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
<<<<<<< HEAD
  padding-top: 5px;
  margin-left: 320px;
=======
  background: linear-gradient(#0047ff -13.37%, #00bcd4 109.53%);
  height: 37px;
  line-height: 37px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 630px;
>>>>>>> 9b41b01a529555767f5a749b596aee15e50adbbf
}

.nav {
  background: #1e1e1e;
}

.nav__row {
  display: flex;
  height: 67px;
  justify-content: flex-start;
}

.nav_solana_image {
  margin: 22px 0px 0px 8.48px;
}

.navigation__bar {
  margin: 19px 0px 0px 475.79px;
}

.navigation__bar a {
  color: rgba(132, 136, 149, 1);
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 17px;
  list-style: none;
  text-decoration: none;
  margin: 18.5px;
}

#actBtn {
  color: rgba(230, 230, 230, 1);
  font-family: "Helvetica";
  font-weight: 700px;
  font-size: 17px;
}

.navigation__bar img.vector {
  width: 14.01px;
  height: 8.01px;
}

.navigation__bar a img {
  margin-left: 5px;
}
<<<<<<< HEAD

.developer {
  background-color: #1e1e1e;
}

.developer__row {
  display: flex;
  justify-content: flex-start;
  height: 821.41px;
}

.developer_content h1 {
  /* display: inline-block; */
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 94px;
  color: #ffffff;
  padding-top: 138.41px;
}

.developer_content h3 {
  /* display: inline-block; */
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 21px;
  color: #c4c4c4;
  width: 390.59px;
  padding-top: 19px;
}

/* .developer_btn a {
  text-decoration: none;
} */

.btn_build {
  background: #14f195;
  border: 1px solid #000000;
  width: 126.25px;
  height: 42px;
  border-radius: 24px;
  padding: 10px 47px 12px 20px;
}

.btn_build a {
  color: rgba(0, 0, 0, 1);
  padding: 5px 10.5px 6px;
  text-decoration: none;
}

/* .btn_stack li {
  width: 196.28px;
  height: 42px;
} */

.btn_stack {
  background: #000000;
  border: 1px solid #ffffff;
  padding: 5px 10.5px 6px;
  width: 196.28px;
  height: 42px;
  border-radius: 24px;
}

.btn_stack image {
  width: 14.74px;
  height: 18.29px;
}

.developer_btn a {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
/* 
.developer_image {
  display: flex;
  position: relative;
} */
.solana_rectangle img {
  width: 633.23px;
  height: 642px;
  border-radius: 100px;
  margin-left: 100px;
}

.solana_image img {
  width: 636.18px;
  height: 678px;
  justify-content: center;
  text-align: center;
}

/* .solana_rectangle,
.solana_image {
  position: relative;
  top: 0;
  left: 0;
}

.solana_image {
  margin-left: -10px;
} */

.footer {
  background-color: #1e1e1e;
}

.footer__row {
  display: flex;
  height: 383px;
  justify-content: space-between;
  align-items: flex-start;
}

.footer li,
.footer li a {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}

.footer li {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}

.footer a {
  color: rgba(132, 136, 149, 1);
  font-size: 15px;
}

.footer__info li text {
  color: rgba(132, 136, 149, 1);
  font-size: 16px;
}

li.footer_title1 {
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

li.all_rights_res {
  color: rgba(132, 136, 149, 1);
  font-family: "Helvetica";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}

.footer__info img.icon {
  border: 26px 16px;
  background-color: rgba(132, 136, 149, 1);
  width: 26px;
  height: 16px;
  color: rgba(0, 0, 0, 1);
}

#Reddit {
  border-radius: 27%;
}

.footer__info {
  margin: 81.06px 0px 0px 7.52px;
}

.footer__info li {
  margin: 24px;
}

.footer__info li a {
  margin: 5px;
}

.footer__possibilities {
  display: flex;
  height: 283px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
}

.footer__possibilities ul {
  margin: 34px;
}

.footer__possibilities li {
  margin-top: 11px;
}

.footer__possibilities li:first-child {
  margin: 0;
}

.footer__language__selection img.icon {
  width: 19px;
  height: 19.38px;
}

.footer__language__selection ul li a {
  display: flex;
  justify-content: center;
}

.footer__language__selection ul li img {
  margin-right: 4px;
}

.footer__language__selection a text {
  font-size: 16px;
  font-weight: 400;
}
=======
>>>>>>> 9b41b01a529555767f5a749b596aee15e50adbbf
