* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* nav,
footer,
header,
aside {
  display: block;
} */

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex; /*for footer*/
  flex-direction: column; /*for footer*/
}

.container {
  max-width: 1255.66px;
  margin: 0px auto;
}

.content {
  flex: 1 1 auto;
}

/* .header {
  background: linear-gradient(#0047ff -13.37%, #00bcd4 109.53%);
} */

.header-row {
  height: 37px;
}

.header-content {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(#0047ff -13.37%, #00bcd4 109.53%);
  height: 37px;
  line-height: 37px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 630px;
}

.nav {
  background: #1e1e1e;
}

.nav-row {
  display: flex;
  height: 67px;
  justify-content: flex-start;
}

.nav-solana-image {
  margin: 22px 0px 0px 8.48px;
}

.navigation-bar {
  margin: 19px 0px 0px 475.79px;
}

.navigation-bar a {
  color: rgba(132, 136, 149, 1);
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 17px;
  list-style: none;
  text-decoration: none;
  margin: 18.5px;
}

#actBtn {
  color: rgba(230, 230, 230, 1);
  font-family: "Helvetica";
  font-weight: 700px;
  font-size: 17px;
}

.navigation-bar img.vector {
  width: 14.01px;
  height: 8.01px;
}

.navigation-bar a img {
  margin-left: 5px;
}

.developer,
.development-course-section {
  background-color: #1e1e1e;
}

.developer-row {
  display: flex;
  justify-content: space-between;
  height: 755.41px;
}

.developer-content h1 {
  display: inline-block;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 94px;
  letter-spacing: 0.48px;
  color: #ffffff;
  padding-top: 120.41px;
  height: 192px;
  width: 563px;
}

.developer-content h3 {
  display: inline-block;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 21px;
  color: #c4c4c4;
  padding-top: 19px;
  height: 49px;
  width: 390.59px;
  margin-bottom: 39.59px;
}

.developer-btn {
  margin-top: 39.59px;
}

.developer-btn a {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin-right: 8px;
  margin-top: 39.59px;
}

.btn-build {
  color: rgba(0, 0, 0, 1);
  background: #14f195;
  border: 1px solid #000000;
  border-radius: 24px;
  box-sizing: border-box;
  width: 126.25px;
  height: 42px;
  padding: 10px 21.25px 12px 21px;
}

.btn-stack {
  color: rgba(255, 255, 255, 1);
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 24px;
  box-sizing: border-box;
  width: 196.28px;
  height: 42px;
  padding: 10px 11.86px 12px 20px;
}

.btn-stack img {
  box-sizing: border-box;
  width: 14.74px;
  height: 18.29px;
  margin-left: 10.63px;
  vertical-align: middle;
}

.developer-content h2 {
  display: inline-block;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 38px;
  color: #ffffff;
  padding-top: 188.41px;
  height: 42px;
  width: 304px;
}

.developer-content h4 {
  display: inline-block;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 20px;
  color: #c4c4c4;
  padding-top: 19px;
  height: 28px;
  width: 924.19px;
}
.developer-image {
  display: flex;
}

.solana-rectangle {
  border-color: #14f195;
  box-sizing: border-box;
  width: 633.23px;
  height: 642px;
  border-radius: 100px;
  background: rgba(240, 135, 255, 0.3);
  margin-left: -520.5px;
  filter: blur(250px);
  margin-top: 72.41px;
}

.solana-image {
  background-image: url("images/developer-section-images/developerImage.png");
  background-size: 100%;
  box-sizing: border-box;
  width: 636.18px;
  height: 678px;
  margin-top: -33px;
  margin-left: -500px;
}

.development-course-row {
  display: flex;
  justify-content: flex-start;
  height: 394px;
}

.development-course-info {
  width: 1084.97px;
  height: 370px;
  border-radius: 18px;
}

.development-course-info {
  background-image: url("images/development-course-images/development-course-image.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.development-course-info h2,
.dig-deeper-section h2 {
  display: inline-block;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 39px;
  color: #ffffff;
}
.development-course-info h2 {
  width: 504.02px;
}

.development-course-info h4,
.dig-deeper-section h4 {
  display: inline-block;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 21px;
  color: #c4c4c4;
}

.development-course-info h4 {
  width: 387.63px;
}

.development-course-info h5,
.offer-position1 h5 {
  display: inline-block;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.development-course-info ul {
  margin-top: 83px;
  margin-left: 88.77px;
}

.btn-chapters a,
.btn-chapters text {
  display: inline-block;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 11px;
  color: #ffffff;
}

.development-course-info h2 {
  padding-top: 17px;
}

.btn-chapters p {
  padding-bottom: 12px;
}

.btn-chapters {
  box-sizing: border-box;
  width: 85.81px;
  height: 18px;
  background-color: #9945ff;
  border-radius: 16px;
  text-align: center;
}

.btn-arrow {
  min-width: 25px;
  min-height: 25px;
  color: rgba(132, 136, 149, 1);
}

.development-course-info .btn-arrow {
  padding-top: 49.5px;
}

.arrow .dev-text1 {
  padding-top: 16px;
}

.dev-text2 {
  box-sizing: border-box;
  width: 387.63px;
  height: 54px;
  padding-top: 31px;
  line-height: 27px;
}

.offer-container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1084.97px;
  height: 344px;
}

.offer-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1084.97px;
  height: 444px;
}

.offer-containers-part1,
.offer-containers-part2 {
  display: flex;
  justify-content: space-between;
  width: 346.2px;
  height: 320px;
}

.part1 {
  background-image: url("images/development-course-images/development-buildspace-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
}

.part2 {
  background-image: url("images/development-course-images/development-bytes-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
}

.part3 {
  background-image: url("images/development-course-images/development-scaffoldSeries-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
}

.part4 {
  background-image: url("images/development-course-images/development-freecodecamp-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
}

.part5 {
  background-image: url("images/development-course-images/development-byKnox-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
}

.part6 {
  background-image: url("images/development-course-images/development-bootcamp-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
}

.part1,
.part2,
.part3,
.part4,
.part5,
.part6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 346.2px;
  height: 320px;
}

.part1 .offer-position1,
.part2 .offer-position1,
.part3 .offer-position1,
.part4 .offer-position1,
.part5 .offer-position1,
.part6 .offer-position1 {
  margin-top: 224px;
  margin-left: 31.56px;
}

.offer-position1 h5 {
  padding-top: 12px;
}

.part1 .offer-position2,
.part2 .offer-position2,
.part3 .offer-position2,
.part4 .offer-position2,
.part5 .offer-position2,
.part6 .offer-position2 {
  margin-top: 252.5px;
  margin-right: 21.4px;
}

.dig-deeper-section {
  font-family: "Helvetica";
  font-weight: 400;
  background-color: #1e1e1e;
}

.dig-deeper-row {
  display: flex;
  width: 1084.97px;
  height: 1099px;
  justify-content: flex-start;
  flex-direction: column;
}

.dig-deeper-row h4 {
  margin-bottom: 32px;
}

.dig-deeper-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 23px;
}

.dig-deeper-info-block {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  width: 346.2px;
  height: 282px;
  padding-top: 31px;
  padding-left: 31.56px;
  padding-right: 53px;
  padding-bottom: 34px;
  background: #19161c;
  border-radius: 12px;
  margin-bottom: 24px;
}

.dig-deeper-info-block h6 {
  font-size: 12px;
  color: rgba(153, 69, 255, 1);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.dig-deeper-info-block-theme {
  font-size: 19px;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 14px;
}

.dig-deeper-info-block-info {
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 48px;
}

.dig-deeper-learn-more {
  font-size: 11px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.btn-arrow45 {
  color: rgba(132, 136, 149, 1);
  rotate: 45;
  padding-left: 14.13px;
}

.btn-arrow45 img {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  /* vertical-align: bottom; */
}

.source-section {
  background-color: #1e1e1e;
}

.source-section .container {
  display: flex;
  /* flex-direction: column; */
}

.source-info-row {
  box-sizing: border-box;
  padding-top: 76px;
  width: 1084.97px;
  height: 811px;
  background: linear-gradient(180deg, #19161c 0%, #000000 100%);
}

.source-info-row h2,
h4 {
  display: inline-block;
  font-family: "Helvetica";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.source-info-row div {
  font-family: "Helvetica";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.source-info-row h2 {
  display: inline-block;
  font-size: 36px;
  letter-spacing: 0.68px;
  padding-bottom: 3px;
}

.source-info-row h4,
.docs-info h4 {
  display: inline-block;
  font-size: 20px;
}

.docs-info {
  max-width: 503px;
}

.source-title-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 522.76px;
}
.source-section-docs-title {
  font-size: 32px;
  padding-top: 50px;
  padding-bottom: 40.59px;
  padding-right: 192.81px;
}

.source-section-docs-view-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  width: 147.95px;
  height: 46px;
  border-radius: 24px;
  text-transform: uppercase;
}

.btn-arrow45-source img {
  margin-left: 16.76px;
  align-items: center;
}

.rectangle-image {
  color: rgba(255, 255, 255, 0.5);
  width: 522.76px;
  height: 1px;
  padding-bottom: 29.41px;
}

.update-evenMore-section {
  background-color: #1e1e1e;
  height: 560.59px;
}

.update-evenMore-container {
  display: flex;
  justify-content: space-between;
  width: 1084.97px;
  padding-top: 127px;
}

.update-block {
  justify-content: center;
  box-sizing: border-box;
  width: 530.65px;
  height: 357px;
  border-radius: 14px;
  background: rgba(25, 22, 28, 1);
  box-shadow: 0px 58px 80px rgba(0, 0, 0, 0.16);
  padding: 49px 63.4px 45.6px 54.2px;
}

.evenMore-block {
  justify-content: center;
  box-sizing: border-box;
  width: 530.65px;
  height: 357px;
  border-radius: 14px;
  background: rgba(25, 22, 28, 1);
  box-shadow: 0px 58px 80px rgba(0, 0, 0, 0.16);
  padding: 49px 64.95px 53.69px 54.2px;
}

.block-title {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  text-align: left;
  padding-bottom: 29px;
}

.evenMore-block-title {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 35px;
  color: #ffffff;
  text-align: left;
  padding-bottom: 29px;
}

.block-info {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 17px;
  line-height: 27.3px;
  color: #c4c4c4;
  width: 400px;
  text-align: left;
  padding-bottom: 76.31px;
}

.evenMore-block-info {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 18px;
  line-height: 27.3px;
  color: #c4c4c4;
  width: 400px;
  text-align: left;
  padding-bottom: 61.31px;
}

.update-btn-block {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400.56px;
  height: 64px;
  background: rgba(10, 10, 10, 1);
  border-radius: 800px;
  padding: 9px 10px;
}

.evenMore-btn-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-text {
  display: flex;
  box-sizing: border-box;
  width: 61px;
  height: 20px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(132, 136, 149, 1);
  justify-content: center;
}

.signUp-btn a {
  display: flex;
  box-sizing: border-box;
  width: 103.56px;
  height: 46px;
  background: #14f195;
  border: 1px solid #000000;
  border-radius: 800px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  justify-content: center;
  align-items: center;
}

.youtube-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  width: 189.38px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 24px;
}

.image-youtube {
  display: flex;
  padding-left: 8.65px;
}

.podcast-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  width: 189.38px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 24px;
}

.image-podcast {
  display: flex;
  padding-left: 11.9px;
}

.footer {
  background-color: #1e1e1e;
}

.footer-row {
  display: flex;
  height: 383px;
  width: 1084.97px;
  justify-content: space-between;
  align-items: flex-start;
}

.footer li,
.footer li a {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}

.footer li {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}

.footer a {
  color: rgba(132, 136, 149, 1);
  font-size: 15px;
}

.footer-info li text {
  color: rgba(132, 136, 149, 1);
  font-size: 16px;
}

li.footer-title1 {
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

li.all-rights-res {
  color: rgba(132, 136, 149, 1);
  font-family: "Helvetica";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}

.footer-info img.icon {
  border: 26px 16px;
  background-color: rgba(132, 136, 149, 1);
  width: 26px;
  height: 16px;
  color: rgba(0, 0, 0, 1);
}

#Reddit {
  border-radius: 27%;
}

.footer-info {
  margin: 81.06px 0px 0px 7.52px;
}

.footer-info li {
  margin: 24px;
}

.footer-info li a {
  margin: 5px;
}

.footer-possibilities {
  display: flex;
  height: 283px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
}

.footer-possibilities ul {
  margin: 34px;
}

.footer-possibilities li {
  margin-top: 11px;
}

.footer-possibilities li:first-child {
  margin: 0;
}

.footer-language-selection img.icon {
  width: 19px;
  height: 19.38px;
}

.footer-language-selection ul li a {
  display: flex;
  justify-content: center;
}

.footer-language-selection ul li img {
  margin-right: 4px;
}

.footer-language-selection a text {
  font-size: 16px;
  font-weight: 400;
}
